# Desafio
 - Após carregar os dados, deixe somente as colunas de Vendedor e Total de vendas
 - Com o GroupBy, use a coluna de vendedor para criar um resumo do vendedor 
 - Salve o dataframe como um arquivo Excel.

In [21]:
import pandas as pd

In [22]:
planilha_id = '1uxYa8NKhoPQVAO_LNqNWxyn30qn5S_qD'

In [23]:
dados_df = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{planilha_id}/export?format=csv")
display(dados_df)

            Vendedor                        Produto Data Venda Total Vendas
0   Leonardo Almeida                 Tênis Feminino   1/1/2023       719,92
1     Eliane Moreira          Calça Feminina Jogger   1/2/2023       139,98
2    Nicolas Pereira               Camisa Masculina   1/3/2023        306,8
3     Amanda Martins              Bermuda Masculino   1/4/2023       1485,6
4       Paulo Santos  Camisa Masculina Festa Balada   1/5/2023       876,84
5    Gabriel Cardoso                 Bota Masculina   1/6/2023       448,28
6   Leonardo Almeida        Jaqueta Masculina Preta   1/7/2023          602
7     Eliane Moreira              Bolsa de Trabalho   1/8/2023       994,92
8    Nicolas Pereira    Kit de Pinceis de Maquiagem   1/9/2023      1048,68
9     Amanda Martins               Vestido Infantil  1/10/2023         59,9
10  Leonardo Almeida                Calça Bailarina  1/11/2023        281,4
11    Eliane Moreira                 Camisa Térmica  1/12/2023         83,8
12   Nicolas Pereira                  Sapato Social  1/13/2023        573,3
13    Amanda Martins               Sapatilha Sapato  1/14/2023        503,1
14    Eliane Moreira                 Colar Pingente  1/15/2023        719,2
15      Angela Maria                 Tênis Feminino  1/16/2023       359,96
16    Carlos Moreira          Calça Feminina Jogger  1/17/2023       489,93
17    Eliane Moreira               Camisa Masculina  1/18/2023       1073,8
18   Nicolas Pereira              Bermuda Masculino  1/19/2023      1039,92
19  Leonardo Almeida  Camisa Masculina Festa Balada  1/20/2023      1315,26
20   Gabriel Cardoso                 Bota Masculina  1/21/2023      1344,84
21  Leonardo Almeida        Jaqueta Masculina Preta  1/22/2023          903
22    Eliane Moreira              Bolsa de Trabalho  1/23/2023       994,92
23   Nicolas Pereira    Kit de Pinceis de Maquiagem  1/24/2023      1048,68
24    Amanda Martins               Vestido Infantil  1/25/2023        479,2
25    Eliane Moreira                Calça Bailarina  1/26/2023        234,5
26   Nicolas Pereira                 Camisa Térmica  1/27/2023        377,1
27    Amanda Martins                  Sapato Social  1/28/2023        737,1

In [27]:
dados_vendedor = dados_df.drop(columns=['Produto', 'Data Venda'])
display(dados_vendedor)

            Vendedor Total Vendas
0   Leonardo Almeida       719,92
1     Eliane Moreira       139,98
2    Nicolas Pereira        306,8
3     Amanda Martins       1485,6
4       Paulo Santos       876,84
5    Gabriel Cardoso       448,28
6   Leonardo Almeida          602
7     Eliane Moreira       994,92
8    Nicolas Pereira      1048,68
9     Amanda Martins         59,9
10  Leonardo Almeida        281,4
11    Eliane Moreira         83,8
12   Nicolas Pereira        573,3
13    Amanda Martins        503,1
14    Eliane Moreira        719,2
15      Angela Maria       359,96
16    Carlos Moreira       489,93
17    Eliane Moreira       1073,8
18   Nicolas Pereira      1039,92
19  Leonardo Almeida      1315,26
20   Gabriel Cardoso      1344,84
21  Leonardo Almeida          903
22    Eliane Moreira       994,92
23   Nicolas Pereira      1048,68
24    Amanda Martins        479,2
25    Eliane Moreira        234,5
26   Nicolas Pereira        377,1
27    Amanda Martins        737,1

In [28]:

dados_vendedor['Total Vendas'] = dados_vendedor['Total Vendas'].str.replace(',', '.')
dados_vendedor['Total Vendas'] = dados_vendedor['Total Vendas'].astype(float)

In [29]:
resumo_vendedor = dados_vendedor.groupby('Vendedor').sum()
display(resumo_vendedor)

                  Total Vendas
Vendedor
Amanda Martins         3264.90
Angela Maria            359.96
Carlos Moreira          489.93
Eliane Moreira         4241.12
Gabriel Cardoso        1793.12
Leonardo Almeida       3821.58
Nicolas Pereira        4394.48
Paulo Santos            876.84

In [30]:
resumo_vendedor.to_excel('Arquivos/Resumo de vendas.xlsx', index=False)